<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand fs-6 fw-bold" href="#">Photograp<span class="fst-italic">Life</span></a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link " href="#">Inicio</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">publicaciones</a>
          </li>
          <li class="nav-items">
              <a class="nav-link" href="#">portafolio</a>
          </li>
      </ul>
      </div>
      <div class="d-flex align-items-center">
        <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-plus-square text-white"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li>
              <a class="dropdown-item" href="#">Añadir Foto</a>
          </li>
          <li>
              <a class="dropdown-item" href="#">Ver perfil</a>
          </li>
          <li>
              <a class="dropdown-item" href="#">Mis publicaciones</a>
          </li>
      </ul>

      <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuLink"
      role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="25" alt=""
          loading="lazy" />
  </a>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
      <li>
          <a class="dropdown-item" href="#">My profile</a>
      </li>
      <li>
          <a class="dropdown-item" href="#">Configuraciones</a>
      </li>
      <li>
          <a class="dropdown-item" href="#">Salir</a>
      </li>
  </ul>
      </div>
    </div>

  </nav>
 -->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
    <div class="container">
        <a class="navbar-brand fs-4 fw-bold text-dark" href="#">Photograp<span class="fst-italic">Life</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center ">
                <li class="nav-item">
                    <a class="nav-link mx-3" href="#fotos"><i class="fas fa-camera pe-2"></i>Mejores Fotos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3" href="#photografos"><i class="fas fa-heart pe-2"></i>Destacados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3"  routerLink="Publicaciones"><i class="fas fa-plus-circle pe-2"></i>Publicaciones</a>
                </li>
                <li class="nav-item ms-3 ">
                    <a class="btn border border-dark rounded-pill px-4 py-2" routerLink="Login">Ingresar</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="btn btn-dark rounded-pill px-3 py-2" routerLink="Registrarse">Registrarse</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->