<app-navbar></app-navbar>


<section class="mt-5 pt-5 
" id="pub">
  <div class="container pb-5">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-4" >
        <div class="card  ">
          <img src="../../../assets/User_Three.jpg" class="card-img-top img-fluid" alt="London">

          <div class="card-body">
            <h5 class="card-title">London</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum
              odio in felis
              mattis feugiat. In rhoncus libero magna, ultricies condimentum tortor tempor sit amet.</p>
            <div class="d-flex justify-content-between">
              <h6>01/01/2022</h6>
              <h6>autor</h6>
            </div>
            <a href="#" class="btn btn-primary">Visitar <span>&rarr;</span></a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4  ">
        <div class="card  ">
          <img src="../../../assets/User_one.jpg" class="card-img-top " alt="London">

          <div class="card-body">
            <h5 class="card-title">London</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum
              odio in felis
              mattis feugiat. In rhoncus libero magna, ultricies condimentum tortor tempor sit amet.</p>
            <div class="d-flex justify-content-between">
              <h6>01/01/2022</h6>
              <h6>autor</h6>
            </div>
            <a href="#" class="btn btn-primary">Visitar <span>&rarr;</span></a>
          </div>
        </div>
      </div>

      
      <div class="col-12 col-md-6 col-lg-4 " >
        <div class="card ">
          <img src="../../../assets/User_two.jpg" class="card-img-top" alt="London">

          <div class="card-body">
            <h5 class="card-title">London</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum
              odio in felis
              mattis feugiat. In rhoncus libero magna, ultricies condimentum tortor tempor sit amet.</p>
            <div class="d-flex justify-content-between">
              <h6>01/01/2022</h6>
              <h6>autor</h6>
            </div>
            <a href="#" class="btn btn-primary">Visitar <span>&rarr;</span></a>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<app-footer></app-footer>