<div class="row">
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx   Comienza Seccion xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- Seccion hello artist -->




    <section class="col-lg-4 d-flex flex-column" style="
          background-image: url(../../../assets/pexels-nikita-nikitin-9824913.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          background-attachment: fixed;
          background-position: 0 50%;
        ">
        <div class="
            container
            d-flex
            align-items-end
            flex-column
            justify-content-around
            text-end
            sticky-lg-top
          " style="margin-top: 9.375rem">
            <!-- --------------------------------------------------------------------------------------------- -->
            <!-- Informacion artist -->
            <div>
                <img class="rounded-circle mt-3 img-fluid" src="../../../assets/01.jpg" style="width: 9.375rem" />

                <p class="text-white fs-5 mt-4">
                    I am Strata a super simple responsive site template freebie crafted by PhotograpLife.
                </p>
            </div>
            <!-- Informacion artist end -->
            <!-- --------------------------------------------------------------------------------------------- -->

            <!-- --------------------------------------------------------------------------------------------- -->
            <!-- Redes -->
            <div class="text-end mt-5">
                <a href=""><i class="fab fa-facebook fa-2x me-2 text-white"></i></a>
                <a href=""><i class="fab fa-twitter fa-2x me-2 text-white"></i></a>
                <a href=""><i class="fab fa-instagram fa-2x me-2 text-white"></i></a>
                <p class="text-white mt-3">
                    © UntitledDesign: HTML5 UPDemo Images: Unsplash
                </p>
            </div>
            <!-- Redes end -->
            <!-- --------------------------------------------------------------------------------------------- -->
        </div>
    </section>
    <!-- final Seccion hello artist -->
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx   Termina Seccion xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->


    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx   Comienza Seccion xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

    <section class="col-lg-8 mt-4">
        <!-- ------------------------------------------------------------------------------------------------------------------------ -->
        <!-- leer mas -->
        <div class="container mt-5 d-flex flex-column justify-content-center">
            <h1 class="fs-3 mb-4">
                Ipsum lorem dolor aliquam ante commodo magna sed accumsan arcu
                neque.
            </h1>
            <p class="mt-2">
                Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc
                nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae
                lobortis tortor primis integer massa adipiscing id nisi accumsan
                pellentesque commodo blandit enim arcu non at amet id arcu magna.
                Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate
                lorem neque cubilia.
            </p>
            <div>
                <a href="" class="btn border mb-3 px-4">Leer más</a>
            </div>
        </div>
        <hr class="mt-4" />
        <!-- leer mas -->
        <!-- ------------------------------------------------------------------------------------------------------------------------ -->


        <!-- Seccion trabajos recientes -->
        <div class="container mt-4 d-flex flex-column justify-content-center">
            <h1 class="fs-3 mb-4">Recent Work</h1>
            <!--  -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 order-lg-2">
                        <div class="p-5">
                            <img class="rounded-circle img-fluid" src="../../../assets/Flower.jpg" />
                        </div>
                    </div>
                    <div class="col-lg-7 order-lg-1">
                        <div class="p-5">
                            <h2 class="fs-1">For those about to rock...</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Quod aliquid, mollitia odio veniam sit iste esse assumenda
                                amet aperiam exercitationem, ea animi blanditiis recusandae!
                                Ratione voluptatum molestiae adipisci, beatae obcaecati.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 order-lg-2">
                        <div class="p-5">
                            <img class="rounded-circle img-fluid" src="../../../assets/Pexel.jpg" />
                        </div>
                    </div>
                    <div class="col-lg-7 order-lg-1">
                        <div class="p-5">
                            <h2 class="fs-1">For those about to rock...</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Quod aliquid, mollitia odio veniam sit iste esse assumenda
                                amet aperiam exercitationem, ea animi blanditiis recusandae!
                                Ratione voluptatum molestiae adipisci, beatae obcaecati.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 order-lg-2">
                        <div class="p-5">
                            <img class="rounded-circle img-fluid" src="../../../assets/pexels-nikita-nikitin-9824913.jpg" />
                        </div>
                    </div>
                    <div class="col-lg-7 order-lg-1">
                        <div class="p-5">
                            <h2 class="fs-1">For those about to rock...</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Quod aliquid, mollitia odio veniam sit iste esse assumenda
                                amet aperiam exercitationem, ea animi blanditiis recusandae!
                                Ratione voluptatum molestiae adipisci, beatae obcaecati.
                            </p>
                            <a href="" class="btn border px-3 my-3">Full Gallery</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
        <!-- Seccion trabajos recientes -->
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx   Termina Seccion xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
</div>