<footer class="footer-07">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2 class="footer-heading fs-4"><a href="#" class="logo">Photograp<span class="fst-italic">Life</span>.com</a></h2>
        <p class="fs-6">
          <a href="#" class="me-3">Destacados</a>
          <a href="#" class="me-3">publicaciones</a>
          <a href="#">Contacto</a>
        </p>
        <ul class="ftco-footer-social p-0">
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter" ><span
                class=""><i class="fab fa-twitter"></i></span></a></li>
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span
                class=""><i class="fab fa-facebook "></i></span></a></li>
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span
                class=""><i class="fab fa-instagram"></i></span></a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <p class="copyright">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | Nuevas
          horizontes con <i class="fas fa-heart text-danger"></i> en Photograp<span class="fst-italic">Life</span>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>